<h2>All your Plants</h2>
<div class="myPlants">
  <ul>
    {{#each myPlants}}

    <li>
      <h3>🌱{{myName}}</h3>
    </li>
    <li class="commonName"> the {{commonName}} </li>
    <div>
      <li> 💧 {{waterNeed}}</li>
      <li> 🔆 {{light}}</li>
      <li> 🦦 {{soilCondition}}</li>
    </div>
    <a href="/plantCare/plantId"></a>


    {{/each}}
  </ul>
</div>