<h2>All your Plants</h2>
<div class="myPlants">


  {{#each myPlants}}
  <div class="listitems">
    <ul class="myPlantscard">
      <h3>🌱{{myName}}</h3>

      <li class="commonName"> the {{commonName}} </li>

      <li> 💧 {{waterNeed}}</li>
      <li> 🔆 {{light}}</li>
      <li> 🦦 {{soilCondition}}</li>
      <a href="/plantForm/{{_id}}">button</a>

    </ul>
  </div>
  {{/each}}


</div>